apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-fib-deploy
spec: 
  replicas: 2
  selector:
    matchLabels:
      app: go-fib
  template:
    metadata:
      labels:
        app: go-fib
    spec:
      containers:
        - name: go-fib
          image: aineshsridhar/go-fib-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
          livenessProbe:
            httpGet: 
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe: 
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5